<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>ownFolio</title>

    <link rel="stylesheet" href="/static/pure/0.6.0/pure-min.css">

    <script type="text/javascript" src="static/jquery/jquery-3.1.0.min.js" charset="utf-8"></script>
    {{template "jsInclude" .}}
  </head>

  <body>
  	<a href="/stocks">Stocks</a><a href="/holding">Holdings</a>

    {{template "content" .}}

    <div style="position: fixed; left: 30%; bottom: 5px; transform: translate(-10%, -50%); margin: 0 auto; font-size: 70%">
    This application is a hobby project and gives no investment tips or any kind of suggestions.
    <div/>

  </body>
</html>
