{{ define "jsInclude"}}
<!-- Load c3.css -->
<link href="static/c3/c3.css" rel="stylesheet" type="text/css">

<!-- Load d3.js and c3.js -->
<script type="text/javascript" src="static/d3/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="static/c3/c3.min.js"></script>
{{ end }}

{{ define "content" }}
<div id="chart"></div>


<script type="text/javascript">
	var chart = c3.generate({
		bindto: '#chart',
		data:{
			x: 'b',
			json:{
				'a':[42,43,44],
				'c':[142,143,144],
				'b':['2015-01-06T00:00:01Z', '2016-04-08T00:00:01Z', '2017-01-05T00:00:01Z']
		},
			xFormat: '%Y-%m-%dT%H:%M:%SZ',
		},
		zoom: {
			enabled: true
		},
		axis: {
			x:{
				type: 'timeseries',
				tick: {
                	format: '%Y-%m-%d'
            	}
			}
		}
	});

	function loadInstrument(ids){
		var AJAX = [];
		for (i=0; i < ids.length; i++) {
    		AJAX.push($.getJSON('/timeseries?instrument=' + ids[i] +'&limit=365'));
		}

		$.when.apply($, AJAX).done(function(){
		    // This callback will be called with multiple arguments,
		    // one for each AJAX call
		    // Each argument is an array with the following structure: [data, statusText, jqXHR]
		    var data = [];
		    if (typeof arguments[1] === 'string' || arguments[1] instanceof String){
		    	console.log('only one parameter')
		    	if (arguments[1] === 'success'){
		    		data.push(arguments[0]);
				}
		    }
		    else {
			    for(var i = 0, len = arguments.length; i < len; i++){
			    	if (arguments[i][1] === 'success'){
			        	data.push(arguments[i][0]);
					}
			    }
			}
			console.log(data.length);

		});



		/*chart.load({
			url: '/timeseries?instrument=' + id +'&limit=365',
			mimeType: 'json',

			keys: {
				x: 'Time',
				value: ['Close'],
			},
			names: {
			    'Close': 'Data Name 1'
			}
		})
		*/
	};

	$( document ).ready(function(){

		loadInstrument(['INDEX_GDAXI','none']);
	});

//	var table = d3.select('body').append('table');


</script>
{{ end }}
