{{ define "cssInclude"}}
<style>
table,td,th {
	border:1px solid black;
	border-collapse:collapse;
	padding:2px 10px;
}

th {
	background-color:lightgrey;
}
</style>
{{ end }}

{{ define "jsInclude"}}
{{ end }}

{{ define "content" }}
<h1>Holdings</h1>
<div id="table"/>

<script type="text/javascript">
	var holdingdata = [];
	//var myList = [{"name" : "abc", "age" : 50},
	//			  {"age" : "25", "hobby" : "swimming"},
	//			  {"name" : "xyz", "hobby" : "programming"}];

	// Builds the HTML Table out of myList.
	function buildHtmlTable(selector) {

		var columnSet = [];
		var headerTr$ = $('<tr/>');

		// base fields
		['ISIN', 'price', 'volume', 'buy date', 'fee'].forEach(function(key){
			columnSet.push(key);
			headerTr$.append($('<th/>').html(key));
		});
		
		console.log(columnSet);
		// iterate over all data entries and add possible not contained header fields
		for (var i = 0 ; i < holdingdata.length ; i++) {
			var rowHash = holdingdata[i];
			// iterate over all keys in the data entry
			for (var key in rowHash) {
				if ($.inArray(key, columnSet) == -1){
					columnSet.push(key);
					headerTr$.append($('<th/>').html(key));
				}
			}
		}
		console.log(columnSet);
		$(selector).append(headerTr$);

		// now lets fill the table
		for (var i = 0 ; i < holdingdata.length ; i++) {
			var row$ = $('<tr/>');
			for (var colIndex = 0 ; colIndex < columnSet.length ; colIndex++) {
				var cellValue = holdingdata[i][columnSet[colIndex]];

				if (cellValue == null) { cellValue = ""; }

				row$.append($('<td/>').html(cellValue));
			}
			$(selector).append(row$);
		}
	}

	$.getJSON('/holding/get', function(data) {
		if (data !== null){
			console.log("returned: " + data);
			holdingdata = data;
		}

		buildHtmlTable('#table')
	});
	

</script>

{{ end }}
