{{ define "jsInclude"}}
	<link rel="stylesheet" href="/static/jquery/jquery-ui-1.12.0/jquery-ui.min.css">
	<script src="/static/jquery/jquery-ui-1.12.0/jquery-ui.min.js"></script>
{{ end }}

{{ define "content" }}
<h1>Holdings</h1>
<div id="table"/>

<script type="text/javascript">
	var holdingdata = [];
	//var myList = [{"name" : "abc", "age" : 50},
	//			  {"age" : "25", "hobby" : "swimming"},
	//			  {"name" : "xyz", "hobby" : "programming"}];

	// Builds the HTML Table out of myList.
	function buildHtmlTable(selector) {

		var columnSet = [];
		var headerTr$ = $('<tr/>');

		// base fields
		['ISIN', 'price', 'volume', 'buy date', 'fee'].forEach(function(key){
			columnSet.push(key);
			headerTr$.append($('<th/>').html(key));
		});
		
		// iterate over all data entries and add possible not contained header fields
		for (var i = 0 ; i < holdingdata.length ; i++) {
			var rowHash = holdingdata[i];
			// iterate over all keys in the data entry
			for (var key in rowHash) {
				if ($.inArray(key, columnSet) == -1){
					columnSet.push(key);
					headerTr$.append($('<th/>').html(key));
				}
			}
		}

		var theader$ = $('<thead/>');
		theader$.append(headerTr$);
		$(selector).append(theader$);

		var tbody = $('<tbody/>');

		// now lets fill the table
		for (var i = 0 ; i < holdingdata.length ; i++) {
			var row$ = $('<tr/>');
			for (var colIndex = 0 ; colIndex < columnSet.length ; colIndex++) {
				var cellValue = holdingdata[i][columnSet[colIndex]];

				if (cellValue == null) { cellValue = ""; }

				row$.append($('<td/>').html(cellValue));
			}
			tbody.append(row$);
		}

		$(selector).append(tbody);

		// now add the input fields
		var row$ = $('<tr/>');
		row$.append($('<td/>').append($('<input/>').attr({ type: 'text', id: 'isin'})));
		row$.append($('<td/>').append($('<input/>').attr({ type: 'text', id: 'price'})));
		row$.append($('<td/>').append($('<input/>').attr({ type: 'text', id: 'volume'})));
		row$.append($('<td/>').append($('<input/>').attr({ type: 'text', id: 'buy_date'})));
		row$.append($('<td/>').append($('<input/>').attr({ type: 'text', id: 'fee'})));
		row$.append($('<td/>').append($('<button/>').attr({ type: "button", id: 'add_button'}).text('Add')));
		$(selector).append(row$);

		$('#buy_date').datepicker();
	}

	$.getJSON('/holding/get', function(data) {
		if (data !== null){
			console.log("returned: " + data);
			holdingdata = data;
		}

		buildHtmlTable('#table')
	});
	

</script>

{{ end }}
